fastapi
uvicorn

tensorflow>=2.20.0,<2.21.0
tensorboard>=2.20.0,<2.21.0

protobuf>=4.23.0,<4.24.0

h5py
numpy
pandas
scipy
scikit-learn
matplotlib

opencv-python>=4.10.0
opencv-python-headless>=4.10.0

argon2-cffi
cryptography

click
jinja2
pillow
requests
python-dateutil
PyYAML

